<div class="main-login">
    <div class="login-form-main fadein">
        <form class="login-form" {{action 'authenticateUser' on='submit'}}>
            <h2 class="login-form-heading">crewlo</h2>
            <label for="username" class="sr-only">Login</label>
            {{input id='username' class="form-control" placeholder='Username' value=username}}
            <label for="password" class="sr-only">Password</label>
            {{input id='password' class="form-control" placeholder='Password' type='password' value=password}}
            {{#if errorMessage}}
                <p>{{errorMessage}}</p>
            {{/if}}
            <button class="btn btn-primary btn-block" type="submit">Sign In</button>
        </form>
    </div>
</div>
{{yield}}
